<!DOCTYPE html>
<html>
<body>

<h1>Weather App</h1>

<form action="/home/" method="post">
    {% csrf_token %}
    <!-- Form automatically created to match the CityForm in forms.py -->
    {{ form }}
    <input type="submit" value="OK">    
</form>

<!-- If any weather data has been retrieved from the API then display it -->
{% if displayWeather %}

    {% if not city_names_match %}
        <p>Couldn't find any city by the name of {{city}}, closest match is {{actual_city}}</p>
    {% endif %}
    
    <p>Displaying weather data from {{actual_city}}, {{country}} (Coords - lat: {{lat}}, lon: {{lon}})</p>

    <p>The weather is currently {{main_weather}}, with a description of {{description}}</p>

    <p>The current temperature is {{temp}}, but it feels like {{feels_like}}</p>

    <p>The pressure is {{pressure}}, the humidity is {{humidity}}</p>

<!-- If we have no data and an error message then displau the message -->
{% elif errorMessage != None %}

    <p>{{errorMessage}}</p>

<!-- Otherwise display nothing as the user hasn't tried to search a location yet -->
{% endif %}

</body>
</html>